.count-controls {
    list-style: none;
    padding: 0;

    & li {
        margin-bottom: 1rem;
    }
}

nav {
    & ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        & li {
            &.active {
                & a {
                    text-decoration: none;
                }
                border-bottom: 3px solid pink;
            }
        }
    }
}

button {
    cursor: pointer;

    &:hover {
        background: seashell;
    }
}

body {
    & div {
        margin-bottom: 1rem;
    }
}

pre {
    padding: 2rem;
    background-color: #d3d3d363;
}

ul.goals {
    list-style: none;
    padding: 0;

    & details {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    summary {
        width: fit-content;
    }
}
